/*WEBPAGE COLOUR PALETTE
 #E5F9E0 Nyanza
 #050505 Rich black
 #1B9AAA Munsell Blue
 #FFFFFF White
 #38023B Russian Violet
 #ADE5EC Helao de pistacho
*/

body {
	background-color: #E5F9E0;
}

#title {
	font-variant: small-caps;
	text-align: center;
}

#title h1 {
	text-align: center;
	margin-bottom: 1%
}

#subtitle{
	text-align: center;
	color: #A6A6A6;
}

div#main{
	font: 18px Helvetica;
	border: 3px dashed #38023B;
	border-radius: 10px;
	margin: auto;
	max-width: 70%;
	background-color: #FFFFFF;
	padding: 1%;
	overflow: auto;
}

hr.rounded {
  border-top: 5px solid #1B9AAA;
  border-radius: 5px;
}

hr.divider {
  border-top: 2px solid #1B9AAA;
  border-radius: 5px;
}

div#about{
	width: 35%;
	border-right: 2px solid #1B9AAA;
	float:left;
	padding: 5px 5px 5px 0;
}

img#perfil{
	width: 55%;
	height: 220pt;
	margin: auto;
	margin-top: 10pt;
	margin-bottom: 20pt;
	display: block;
	clear: right;
}

a {
	text-decoration: none;
}

img.contact-icon{
	width: 30pt;	
	height: 30pt;
	display: inline-block;
}
img.donation-icon{
	width: 100pt;	
	height: 30pt;
	display: inline-block;
}

div.about-block {
	display: block;
	background-color: #ade5ec;
	border-radius: 5px;
	margin-top: 10pt;
	margin-right: 10pt;
	padding: 10pt;
	text-align: justify;
}

hr.simple{
	background-color: black;
	border: none;
	height: 1pt;
}

div#cv-info-wrapper{
	float: left;
	width: 64%;
}

div#last-je{
	margin: 10pt;
	background-color: #ade5ec;
	border-radius: 5px;
	padding: 5pt;
}

